@import '../../styles/contants.scss';


// .grid-container {
//     display: grid;
//     grid-template-columns: repeat(3, 1fr); /* Create 3 equal columns */
//     grid-gap: 10px; /* Add a 10px gap between grid items */
//   }
  
//   .grid-item {
//     background-color: #f2f2f2;
//     padding: 20px;
//   }

.wrapper {
    background-color: white;
    overflow: hidden;
    .container {
        flex-direction: column;
        gap: 2rem;
        .heading {
            width: 100%;
            justify-content: space-between;
            align-items: flex-end;
            flex-wrap: wrap;
        }
        // .proj-button {
        //     border: 2px solid red;
        //     /* Additional styles for the button */
        //   }
        .showCase{
            width: 100%;
            gap: 1.5rem;
            justify-content: space-around;
            flex-wrap: wrap;
           
            >img {
                @media (max-width: $sm) {
                    width: 100%;
                }
                border-radius: 20px;
                max-width: 25rem;
                max-height: 18rem;
                box-shadow: 0px 21px 13px rgba(0, 0, 0, 13%);
            }
        }
    }
}