@import '../../styles/contants.scss';


// .grid-container {
//     display: grid;
//     grid-template-columns: repeat(3, 1fr); /* Create 3 equal columns */
//     grid-gap: 10px; /* Add a 10px gap between grid items */
//   }
  
//   .grid-item {
//     background-color: #f2f2f2;
//     padding: 20px;
//   }

.wrapper {
    background-color: white;
    overflow: hidden;
    .container {
        flex-direction: column;
        gap: 2rem;
        .heading {
            width: 100%;
            justify-content: space-between;
            align-items: flex-end;
            flex-wrap: wrap;
        }
        .proj-button-container {
            border: 2px solid ;
            display: flex;
            gap: 10px;
          }
        .proj-button {
            width: fit-content;
            margin: 0 auto;
            padding: 10px 45px;
            display: block;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 0.1rem;
            border: 1px solid black;
            border-radius: 20px;
            box-shadow: 3px 3px 10px rgb(230, 230, 230);
            transition: transform 650ms;
        }
        .showCase{
            width: 100%;
            gap: 1.5rem;
            justify-content: space-around;
            flex-wrap: wrap;
           
            >img {
                @media (max-width: $sm) {
                    width: 100%;
                }
                border-radius: 20px;
                max-width: 25rem;
                max-height: 18rem;
                box-shadow: 0px 21px 13px rgba(0, 0, 0, 13%);
            }
        }
    }
}
