* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
  }
  
  .footer {
    width: 100%;
    padding: 100px 10%;
    display: flex;
    flex-direction: row;
    background: linear-gradient(#e6646450, #9198e59d);
}
  
  .footer div {
    text-align: center;
  }
  
  .col-1 {
    flex-grow: 3;
    margin-right: 15%;
  }

  .h1, h1 {
    font-size: 3rem;
    font-weight: bold;
  }
  
  .col-2 {
    flex-grow: 3;
  }
  
  .footer div h3 {
    font-size: 2rem;
    font-weight: 300;
  }
  
  .footer div h2 {
    color: rgb(162, 158, 158);
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
  }
  
  .social-icons {
    margin-top: 30px;
  }
  
  .social-icons i {
    font-size: 22px;
    margin: 10px;
    cursor: pointer;
  }

  .social-icons img {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    height: 10rem;
    width: 9rem;
  }

  /* .btn btn-primary {
   
  } */
  
  
  
  
  